<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheet.css">
		<title>Musikshop</title>
		<style>
			* {
				font-family: Arial, Helvetica, sans-serif;   }
			body{
				background-color: antiquewhite;}
			header { 
				width: 100%;
				height:7%;
				border-radius: 5px;
				background-color:#6d346a ;
				font: 30px antiquewhite;
				color:antiquewhite;
				font-family: Arial, Helvetica, sans-serif;
				text-align: center;
				padding-top: 10px;
				padding-bottom: 5px;
				margin-top:-10px;}
			a {
				text-decoration: none;
				color:rgb(58, 56, 58);}
			a:hover{        
				color:antiquewhite;}
			nav{
				margin-top:4%;
				padding-top:5px; 
				text-align: center;
				width:10%;
				float: left;
				background-color:#8b4f88 ;
				height:270px;
				border-radius: 7px;
				color:rgb(58, 56, 58);}
			form {
				text-align:center;}
			button {
				width:40%;
				height:15%;
				background-color:blanchedalmond;}
			input {
				margin-top:4px;}
			#table {
				margin-left:20%;
				margin-top: 4%;
				color:rgb(58, 56, 58);
				background-color:#fae4ca;}
			tr {
				height:70px;}
			#1 {
				width:170px;}
		</style>
	</head>
	<body>
        <header>
            <h3> Die Musikstube</h3>
        </header>
        <h4> <%= message%> <%= firstName%> <%= surName%> </h4>
        <nav>
            <% if(!logedIn) { %>
                <form action="onLogIn" method="POST">
                    <input type="text" value="mail" name="mail" ></br> // falls PW falsch war/damit man nicht noch mal die Mail eingeben muss
	            <%= errors[0] %> </br>
                    <input type="text" name="password"></br>
	            <%= errors[1] %> </br>
                    <input type="submit" value="Login" name="submit"> </p>
                </form>
                <a href="register">Registrieren</a>
            <% } else { %>
                <form action="onLogOut" method="POST">
					<input type="submit" value="Logout" name="submit"> </p>
                </form></p>
                <a href="/cart">Warenkorb</a>
            <% } %>
        </nav>
        <div id="table">
            <table>
                <th>Ihr Warenkorb</th>
				<tr>
					<td></td>
					<td> Produkt </td>
					<td> Stückpreis </td>
					<td> Anzahl </td>
					<td> Preis </td>
				</tr>
                    <% for(var i = 0; i < rows.length; i++) { %>
						<tr>
                            <td> <img href="<%= rows[i].smallLink %>"> </td>
                            <td> <%= rows[i].name %> </td>
                            <td> <%= rows[i].price %> </td>//Produktpreis
							<td> <%= rows[i].counter %> </td>//Anzahl
							<td> <%= parseFloat(rows[i].price) * parseFloat(rows[i].counter) %> </td>//Preis mal Anzahl
                            <td>
                                <form method="POST" action="<%= "/cartDelete/" + rows[i].name %>">
                                    <button type="submit">entfernen</button>
                                </form>
                            </td>
                        </tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Summe:</td>
							<td><%= sum %></td>//Summe
						</tr>
                    <% } %>
					
                    <!-- Hier brauchen wir keine Buttons/Der Benutzer wird schon keine 30 verschiedene Artikel auf einmal kaufen
					<tr>
                        <td>
                            <%/* if(start > 0) { %>
                                <form method="POST" action="<%= "/shopBack" %>">
                                    <button type="submit">Zurück</button>
                                </form>
                            <% } %>
                        </td>
                        <td>
                            <% if(end < rows.length) { %>
                                <form method="POST" action="<%= "/shopNext" %>">
                                    <button type="submit">Weiter</button>
                                </form>
                            <% } */%>
                        </td>
                    </tr>-->
                </table>
            </div>
		<footer>
		</footer>
	</body>
</html>
