<!DOCTYPE html>
<html>
	<head>
		<title>Musikstube Einkaufsbestätigung</title>
		<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<div ><a id="viv" href ="/" >Die Musikstube</a></div>
		</header>
		<div id="mess">
			<%= message %> <%= firstName %> <%= surName %> 
		</div>
		<nav>
			<% if(!logedIn) { %> 
				<form action="onLogIn" method="POST">
					<input class="bracket" type="text" value="<%= mail %>" name="mail" ></br> <!-- falls PW falsch war/damit man nicht noch mal die Mail eingeben muss -->
					<%= errors[0] %> </br>
					<input class="bracket" type="password" name="password"></br>
					<%= errors[1] %> </br>
					<input class="buttons" type="submit" value="Login" name="submit"> </p>
                </form>
				<a href="/"> Shop </a> </p>
				<a href="/cart"> Warenkorb </a>
			<% } else { %>
				<a href="/"> Shop </a> </p>
				<a href="/cart"> Warenkorb </a> </p>
				<form action="onLogOut" method="POST">
					<input class="buttons" type="submit" value="Logout" name="submit">
				</form>
            <% } %>
		</nav>
		<div id="bestäti">
			<h3>Rechnungen</h3>
			<% if (rows.length > 0) { %>
				<table>
					<tr>
						<td>Auftragsnummer:</td>
						<td> <%= rows[0].orderId %> </td><!--Auftrags-id-->
					</tr>
					<tr>
						<td>Mail-Adresse:</td>
						<td> <%= rows[0].mail %> </td><!--Benutzer-Mail-->
					</tr>
					<tr>
						<td> Produkt </td>
						<td> Stückpreis </td>
						<td> Anzahl </td>
						<td> Preis </td>
					</tr>
					<tr>
						<td> <%= rows[0].name %> </td><!--Produktname-->
						<td> <%= (rows[0].price).toFixed(2) %> </td><!--Produktpreis-->
						<td> <%= rows[0].quantity %> </td><!--Anzahl-->
						<td> <%= (parseFloat(rows[0].price) * parseInt(rows[0].quantity)).toFixed(2) %> </td>
					</tr>
				<%	let sum = parseFloat(rows[0].price) * parseInt(rows[0].quantity);
					for (let i = 1; i < rows.length ; i ++) {
					if ( rows[i - 1].orderId == rows[i].orderId ) { 
						sum += parseFloat(rows[i].price) * parseInt(rows[i].quantity) %>
						<tr>
							<td> <%= rows[i].name %> </td><!--Produktname-->
							<td> <%= (rows[i].price).toFixed(2) %> </td><!--Produktpreis-->
							<td> <%= rows[i].quantity %> </td><!--Anzahl-->
							<td> <%= (parseFloat(rows[i].price) * parseInt(rows[i].quantity)).toFixed(2) %> </td>
						</tr>
					<% } else { %>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td> <%= (sum).toFixed(2) %> </td> <% sum = 0 %>
						</tr>
						<tr></tr>
						<tr>
							<td>Auftragsnummer:</td>
							<td> <%= rows[i].orderId %> </td>
						</tr>
						<tr>
							<td>Mail-Adresse:</td>
							<td> <%= rows[i].mail %> </td>
						</tr>
						<tr>
							<td> Produkt </td>
							<td> Stückpreis </td>
							<td> Anzahl </td>
							<td> Preis </td>
						</tr>
						<tr>
							<td> <%= rows[i].name %> </td><!--Produktname-->
							<td> <%= (rows[i].price).toFixed(2) %> </td><!--Produktpreis-->
							<td> <%= rows[i].quantity %> </td><!--Anzahl-->
							<td> <%= (parseFloat(rows[i].price) * parseInt(rows[i].quantity)).toFixed(2) %></td>
							<% sum = parseFloat(rows[i].price) * parseInt(rows[i].quantity); %>
						</tr>
					<% } %>
				<% } %>
				<tr>	
					<td></td>
					<td></td>
					<td></td>
					<td> <%= (sum).toFixed(2) %> </td>
				</tr>	
			</table>
			<% } else { %>
				Sie haben noch keine Bestellungen getätigt.
			<% } %>
			<form method="POST" action="<%= "/shopBack" %>">
				<button class="buttons" type="submit">Zurück</button>
			</form>	
		</div>
		<div id="footer">
			<a href="/impress"> Impressum </a>
		</div>
	</body>
</html>