<!DOCTYPE html>
<html>
    <head>
		<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
		<title>Musikshop</title>
		<style>*/
			header {
				margin-top:-22px;
				
			}
			
			*/
			nav {
				margin-top:90px;
			}
			#Rahmen {
				margin-top:55px;
				height:300px;
				width:800px;
				background-color:white;
			}
			#pic {
				float:left;
				margin-top:10px;
				width:250px;
				margin-left:0px;
			}
			#text {
				background-color:white;
				padding:10px;
				width:500px;
				height:250px;
				text-align:left;
				margin-top:5px;
				margin-left:250px;	
				line-height:130%;
				
			}
			
			#footer {
				margin-top:380px;
				margin-left:-10px;
			}
		</style>
    </head>
    <body>
        <header>
            <div id="viv">Die Musikstube</div>
        </header>
        <div id="mess">
			<%= message %> <%= firstName %> <%= surName %> 
		</div>
		
        <nav>
            <% if(!logedIn) { %>
                <form action="/productLogIn" method="POST">
                    <input class="bracket" type="text" value="<%= mail %>" name="mail" ></br> <!-- falls PW falsch war/damit man nicht noch mal die Mail eingeben muss -->
					<%= errors[0] %> </br>
                    <input class="bracket" type="password" name="password"></br>
					<%= errors[1] %> </br>
                    <input class="buttons" type="submit" value="Login" name="submit"> </p>
                </form>
                <a href="/register">Registrieren</a> <br>
            <% } else { %>
				<a href="/"> Shop </a> </p>
                <a href="/cart">Warenkorb</a> </p>
				<a href="/confirmation">Bestellungen</a> </p>
				<form action="productLogOut" method="POST">
					<input class="buttons"type="submit" value="Logout" name="submit"> </p>
                </form></p>
				
            <% } %>
				
        </nav>
        <div id ="Rahmen">
			<div id="pic">
					<img src="<%= rows[0].bigLink %>" <!--width="250px" height="220px"--> 
			</div>
			<div id="text">
				
						<%= rows[0].name %>
						<%= rows[0].price %> € <br>
						<%= rows[0].stock %> auf Lager <br>
						<%= rows[0].description %> </p>
					
						<% if(!logedIn) { %>
							Vor dem Bestellen bitte anmelden oder registrieren.
						<% } else { %>
							<form action="<%= "/cartInsert/" + rows[0].name + "/" + rows[0].price %>" method="POST">
								<input type="text" value="1" name="quantity">					
								<input class="buttons" type="submit" value="In den Warenkorb" name="submit"></br>
								<%= errors[2] %>
							</form>
						<% } %>
							</p>
						<a class="buttons" id="zurueck" href="/"> zurück </a>
					</div>
				
				
		</div>
		
		<div id="footer">
					<a href="/impress"> Impressum </a>
				</div>
	</body>
</html>