<!DOCTYPE html>
<html>
	<head>
		<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
		<title>Musikshop</title>
	</head>
	<body>
        <header>
             <div ><a id="viv" href ="/" >Die Musikstube</a></div>
        </header>
		<div id="mess">
			<%= message %> <%= firstName %> <%= surName %> 
		</div>
        <nav>
            <% if(!logedIn) { %> 
                <form action="onLogIn" method="POST">
                    <input class="bracket" type="text" value="<%= mail %>" name="mail" ></br> <!-- falls PW falsch war/damit man nicht noch mal die Mail eingeben muss -->
					<%= errors[0] %> </br>
                    <input class="bracket" type="password" name="password"></br>
					<%= errors[1] %> </br>
                    <input class="buttons" type="submit" value="Login" name="submit"> </p>
                </form>
                <a href="/register">Registrieren</a>
            <% } else { %>
                <a href="/cart">Warenkorb</a> </p>
				<a href="/confirmation">Bestellungen</a></p>
				<form action="onLogOut" method="POST">
					<input class="buttons" type="submit" value="Logout" name="submit">
				</form>
            <% } %>
        </nav>
        <div  id="bestäti">
            <table  id="table">
				<tr>
					<td></td>
					<td> Produkt </td>
					<td> Preis </td>
					<td> Bestand </td>
				</tr>
				<% for(var i = start; i < end; i++) { %>
					<tr>
						<td id="tdPic"><img src="<%= rows[i].smallLink %>" width="140" height="145" /></td>
						<td id="tdName"><span> <%= rows[i].name %> </span></td>
						<td id="tdPrice"><span> <%= (rows[i].price).toFixed(2) %></span> € </td>
						<td id="tdStock"><span> <%= rows[i].stock %></span> </td>
						<td>
							<form method="POST" action="<%= "/product/" + rows[i].id %>">
								<button class="buttons" type="submit">ansehen</button>
							</form>
						</td>
					</tr>
				<% } %>
			</table>
			<table id="table">
				<tr>
					<td id="tdNavBtn">
						<% if(start > 0) { %>
							<form method="POST" action="<%= "/shopBack" %>">
								<button class="buttons" type="submit">Zurück</button>
							</form>
						<% } %>
					</td>
					<td id="tdNavBtn"><%= start + 1 %> bis <%= end %> / <%= rows.length %></td>
					<td id="tdNavBtn">
						<% if(end < rows.length) { %>
							<form method="POST" action="<%= "/shopNext" %>">
								<button class="buttons" type="submit">Weiter</button>
							</form>
						<% } %>
					</td>
				</tr>
			</table>
		</div>
		<div id="footer">
			<a href="/impress"> Impressum </a>
		</div>
	</body>
</html>
