<!DOCTYPE html>
<html>
	<head>
		<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
		<title>Musikshop</title>
		
	</head>
	<body>
        <header>
             <div id="viv">Die Musikstube</div>
        </header>
		
		<div id="mess">
			<%= message %> <%= firstName %> <%= surName %> 
		</div>
		
        <nav>
            <% if(!logedIn) { %> 
                <form action="onLogIn" method="POST">
                    <input class="bracket" type="text" value="<%= mail %>" name="mail" ></br> <!-- falls PW falsch war/damit man nicht noch mal die Mail eingeben muss -->
					<%= errors[0] %> </br>
                    <input class="bracket" type="password" name="password"></br>
					<%= errors[1] %> </br>
                    <input class="buttons" type="submit" value="Login" name="submit"> </p>
                </form>
                <a href="/register">Registrieren</a>
            <% } else { %>
                <form action="onLogOut" method="POST">
					<input class="buttons" type="submit" value="Logout" name="submit"> </p>
                </form></p>
                <a href="/cart">Warenkorb</a> </p>
				<a href="/confirmation">meine Bestellungen</a>
            <% } %>
        </nav>
        <div >
            <table id="table">
               
				<tr>
					<td></td>
					<td> Produkt </td>
					<td> Preis </td>
					<td> Bestand </td>
				</tr>
				<% for(var i = start; i < end; i++) { %>
					<tr>
						<td><img src="<%= rows[i].smallLink %>" width="100" height="120" /></td>
						<td><span> <%= rows[i].name %> </span></td>
						<td><span> <%= rows[i].price %></span> € </td>
						<td> <span><%= rows[i].stock %></span> </td><!--Anzahl-->
						<td>
							<form method="POST" action="<%= "/product/" + rows[i].id %>">
								<button class="buttons" type="submit">ansehen</button>
							</form>
						</td>
						<!--<td> 
						Brauchen wir hier überhaupt einen Button/oder soll der Benutzer erst auf der Produktseite das Produkt dem Warenkorb hinzufügen können
							<form method="POST" action="<%= /*"/onWarenkorb/" + rows[i].id*/ %>">
								<button type="submit">in den Warenkorb</button>
							</form>
						</td>-->
					</tr>
				<% } %>
				<tr>
					<td>
						<% if(start > 0) { %>
							<form method="POST" action="<%= "/shopBack" %>">
								<button class="buttons" type="submit">Zurück</button>
							</form>
						<% } %>
					<td></td>
					<td>
						<% if(end < rows.length) { %>
							<form method="POST" action="<%= "/shopNext" %>">
								<button class="buttons" type="submit">Weiter</button>
							</form>
						<% } %>
					</td>
				</tr>
			</table>
		</div>
		<div id="footer">
			<a href="/impress"> Impressum </a>
		</div>
	</body>
</html>
