  
        <link rel="stylesheet" href="/stylesheet.css">
        <title>Musikshop</title>
        <style>
            * {
                font-family: Arial, Helvetica, sans-serif;
               
            }

            body{
                background-color: antiquewhite;
            }

            header { width: 100%;
        height:7%;
        border-radius: 5px;
        background-color:#6d346a ;
        font: 30px antiquewhite;
        color:antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-top:-10px;}


            a {
                text-decoration: none;
                color:rgb(58, 56, 58);
            }

            a:hover{
                
                color:antiquewhite;
            }

            nav{
                margin-top:4%;
                padding-top:5px; 
                text-align: center;
                width:10%;
                float: left;
                background-color:#8b4f88 ;
                height:270px;
                border-radius: 7px;
                color:rgb(58, 56, 58);
            }
            

            form {
                text-align:center;
            }

            button {
                width:40%;
                height:15%;
                background-color:blanchedalmond;
            }

            input {
                margin-top:4px;
            }
            
            #table {
                margin-left:20%;
                margin-top: 4%;
                color:rgb(58, 56, 58);
                background-color:#fae4ca;
            }

            tr {
                height:70px;
            }

            #1 {
                width:170px;
            }

        </style>
        
       
    </head>
    <body>

        <header>
            <h3> Die Musikstube</h3>
            
        </header>

        <nav>
            
           <% if(!logedIn) { %>

            
            <form action="" method="POST">
               <button type="submit" value="">
                    Login
               </button>
               <input type="text" name=""><br>
               <input type="text" name="">

            </form>
        
            else {
                <button type="submit" value="">
                        Logout
                   </button>

            <%}%>
        
            <a href="views/Registrieren">Registrieren </a> <br>
            <a href=""> Einkaufswagen </a>
        </nav>
        <div id="table">
            <table>
                <th> unser Sortiment</th>
            <% for(var i = 0; i < rows.length; i++) { %>
                <tr>
                   <!-- <td id="1"> <img href= <%= rows[i].smallink %> ></a> </td>-->
                    <td> <%= rows[i].products %></td>
                    <td > <%= rows[i].name %> </td>
                    <td > <%= rows[i].price %> €</td>
                    <td > <%= rows[i].description %></td>
                    <td > <%= rows[i].quantity %></td>
                </tr>
            <%}%>
            </table>
        

        </div>
        <footer>

        </footer>

    </body>
</html>


